/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #d83e3e;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #dbb2b2;
}

.hero {
    background-image: url('restaurant.jpg');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: #3d2da5;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #555;
}

/* Add styles for the rest of the sections (about, menu, reservation, contact) */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
